---
interface ReleaseSummary {
  md_version: string;
  checksum: string;
}

interface Props {
  release?: ReleaseSummary;
}

const { release }: Props = Astro.props;
---

<h1>Welcome to the MD Wiki</h1>

{release && (
  <>
    <p><strong>Current Expected Version:</strong> {release.md_version}</p>
    <p><strong>Current Expected Checksum:</strong> {release.checksum}</p>
  </>
)}

<p>
  <strong>Note:</strong> The following Wiki is currently a work in progress. However, we will do our best to get meaningful
  content updated and placed on this page.
</p>
