---
import InlineMarkdownText from "./InlineMarkdownText.astro";

interface ParatranzProject {
  name: string;
  url: string;
}

interface Props {
  teamJoinDescription?: string;
  paratranzProjects: ParatranzProject[];
}

const { teamJoinDescription, paratranzProjects }: Props = Astro.props;
---

<h3>Joining the Millennium Dawn Development Team</h3>
{teamJoinDescription && <InlineMarkdownText text={teamJoinDescription} />}

<h3>Translations</h3>
<h4>Paratranz Projects</h4>
<ul>
  {paratranzProjects.map((project) => (
    <li>
      <a href={project.url}>{project.name}</a>
    </li>
  ))}
</ul>
