---
import { withBase } from "../lib/urls";
---

<h3>Submods</h3>
<p>
  <strong>DISCLAIMER</strong> Any issues with a submod should be first reported to the submod you are playing with. Even
  something as simple as a graphics mod could break something in Millennium Dawn.
</p>
<p>
  For a list of Known Submods follow this <a href={withBase("/misc/known-submods/")}>link</a>.
</p>
