---
import InlineMarkdownText from "./InlineMarkdownText.astro";
import { withBase } from "../lib/urls";

interface SpecialThanks {
  text: string;
}

interface Credits {
  model_credit_list: string;
  special_thanks: SpecialThanks[];
}

interface Props {
  credits: Credits;
}

const { credits }: Props = Astro.props;
---

<h2>Credits</h2>
<p>
  A full list of credits for all models that are currently in use in-game:{" "}
  <a href={credits.model_credit_list}>Model Credit List</a>.
</p>
{(credits.special_thanks || []).map((thanks) => (
  <InlineMarkdownText text={thanks.text} />
))}
<p>
  Furthermore, a non-exhaustive list can be found at the <a href={withBase("/misc/authors/")}>Authors</a>.
</p>
