---
import { parseInlineMarkdown } from "../lib/inline-markdown";

interface Props {
  text: string;
  as?: "p" | "span";
}

const { text, as: tag = "p" } = Astro.props as Props;
const Tag = tag;
---

<Tag>
  {parseInlineMarkdown(text).map((part) =>
    part.type === "link" ? <a href={part.href}>{part.value}</a> : part.value,
  )}
</Tag>
